networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    build:
      context: ./backend
      environment:
      - ML_URL=http://ml_service:9000
    depends_on:
      - ml_service
    networks:
      - dev
    dns:
      - 8.8.8.8
      - 1.1.1.1
    mem_limit: 2024m
    mem_reservation: 256m
    restart: always

  ml_service:
    build:
      context: ./ML
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      S3_ENDPOINT: https://storage.yandexcloud.net
      S3_BUCKET: risk-model-datasets
    ports:
      - "9000:9000"
    networks:
      - dev
    restart: unless-stopped

  predict_service:
    build:
      context: ./AI
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      S3_ENDPOINT: https://storage.yandexcloud.net
      S3_BUCKET: risk-model-datasets
    ports:
      - "7000:7000"
    networks:
      - dev
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    networks:
      - dev
